*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, Sans-serif;
}
input {
    width: 100px;
    margin-top: 2px;
    
}
input:focus {
    border-style: 0.5px white;
}
header {
    text-align: center;
    color: blue;
}
button {
    width: 100px;
    height: 25px;
    color: rgb(92, 90, 90);
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}
button:hover {
    color: whitesmoke;
    background-color: gray;
}
h4 {
    color: green;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 75vh;
    color: rgb(92, 90, 90);
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px ;
    background-color: lightblue;
}
.sectionOper {
    width: 70%;
    height: 40%;
    margin: auto;
    margin-top: 3%;
}
.fieldOper {
    height: 95%;
    padding: 10px; 
    color: blue;
}
.sectionRes {
    width: 70%;
    height: 60%;
}
.fieldRes {
    padding: 5px;
    color: blue;
}
.divBtn {
    margin-top: 5px;
}

.tdQuest {
    color: red;
}
.btnCalc {
    color: whitesmoke;
    background-color: red;
}
.btnReset {
    color: whitesmoke;
    background-color: green;
}
